matplotlib    # visionnage de graphe hist
numpy         # nécessaire en concordance avec opencv
opencv-python # manipulation d'image
chess         # gestion de l'échiquier
python-chess  # gestion de l'échiquier	
stockfish     # IA d'échec
tensorflow    # machine learning
keras         # machine learning